body
{
/*    background-image:url("../images/cover/paybill.jpg");  */
/*    opacity: 0.98;*/
    background-color: white;
/*    align-content: center;*/
    background-size: cover;
    background-repeat: no-repeat;

/*    background-color: red;*/
}

.sign_in_btn:hover{
    cursor: pointer;
}
.sign_up_btn:hover{
    cursor: pointer;
}
#dv_main_div{
    height: 380px;
    width: 855px;
   /* border: 6px solid black; */
    position: absolute;
    top: 150px;
    left: 245px;
}
@font-face{
    font-family: font1;
    src: url("../fonts/Baloo-Regular.ttf");
}

#dv_sign_in_form{

    background-color: dodgerblue;
/*    opacity: 0.8;*/
    height: 340px;
    width: 375px;
    position: absolute;
/*    border: 2px solid white;    */
    top: 5px;
    left: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#dv_sign_up_form{

    background-color: dodgerblue;
/*    opacity: 0.8;*/
    height: 450px;
    width: 500px;
    position: absolute;
/*    border: 2px solid white;    */
    top: -17px;
    left: 430px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}
#img_or_divider{
    height: 275px;
    width: 43px;
    position: absolute;
    left: 382px;
    /* border: 2px solid black; */
    top: 40px;
    background-image:url("../images/logo_&_symbols/OR.jpg");
    background-repeat: no-repeat;
    /* background-size: cover; */
}
#input_username{
    position: absolute;
    top: 145px;

    left: 85px;

/*    text-align: left;   */
/*    color: cornflowesrblue;*/
    height: 25px;
    width: 220px;
/*    border: 2px solid blue; */

}
#input_password{
    position: absolute;
    top: 200px;

    left: 85px;


/*    color: cornflowerblue;*/
    height: 25px;
    width: 220px;
/*    border: 2px solid blue; */

}
#sign_up_form{
  margin-left: 10%;
  top: 30%;
  position: absolute;
}
.sign_up_fields{
  margin-left: 180px;
  height: 25px;
  width: 200px;
}
#input_reg_fullname{
    position: absolute;
    top: 10px;
    /* left: 100px;
    height: 25px;
    width: 200px; */

}
#txt_full_name{
    position: absolute;
    top: 15px;
    left: 15px;
    font-family: sans-serif;
    color: aliceblue;
/*
    height: 25px;
    width: 150px;
*/

}
#input_reg_username{
    position: absolute;
    top: 50px;
    /* left: 100px;
    height: 25px;
    width: 200px; */

}
#txt_username{
    position: absolute;
    top: 55px;
    left: 15px;
    font-family: sans-serif;
    color: aliceblue;

/*
    height: 25px;
    width: 150px;
*/

}
#input_reg_password{
    position: absolute;
    top: 90px;
    /* left: 100px;
    height: 25px;
    width: 200px; */

}
#txt_password{
    position: absolute;
    top: 95px;
    left: 15px;
    font-family: sans-serif;
    color: aliceblue;

/*
    height: 25px;
    width: 150px;

*/
}
#input_reg_committee{
    position: absolute;
    top: 130px;
    /* left: 100px;
    height: 25px;
    width: 150px; */

}
#txt_committee_name{
    position: absolute;
    top: 135px;
    left: 15px;
    font-family: sans-serif;
    color: aliceblue;

/*
    height: 25px;
    width: 150px;
*/

}
#input_reg_department{
    position: absolute;
    top: 170px;
    /* left: 100px;
    height: 25px;
    width: 150px; */

}
#txt_department_name{
    position: absolute;
    top: 175px;
    left: 15px;
    font-family: sans-serif;
    color: aliceblue;

/*
    height: 25px;
    width: 150px;
*/

}
#dv_input_reg_class_year{
    position: absolute;
    top: 220px;
    left: 180px;
    height: 25px;
    width: 150px;
    /* border: 1px solid black; */
    color: white;
}
#txt_class_year{
    position: absolute;
    top: 220px;
    left: 15px;
    font-family: sans-serif;
    color: aliceblue;
}
.txt_sign_up{
  font-size: 15px;
  font-family: sans-serif;
}
.radio{
  position: relative;
}
#btn_sign_in{
    position: absolute;
    top: 260px;

    left: 145px;
    height: 70px;
    width: 100px;

/*    color: cornflowerblue;*/
    height: 25px;
/*    border: 2px solid blue; */
    cursor: pointer;
}
#btn_sign_up{
    position: absolute;
    margin-top: 110px;

    margin-left: 150px;
/*    height: 70px;*/
    width: 100px;

   /* color: cornflowerblue; */
    height: 25px;
    border-radius: : 112px;
    cursor: pointer;
}
.txt_form_question{
    font-family:sans-serif;
    color: aliceblue;
    position: absolute;
    top: 80px;
    left: 100px;

}
.txt_form_type_title{
    font-family:sans-serif;
    color: aliceblue;
    position: absolute;
    top: 20px;
    left: 60px;

}
#checkbox{
  margin-left: 385px;
  margin-top: 60px;
}
.material-icons{
    color: aliceblue;
    font-size: 22px;
}
